@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --base-50: oklch(0.9889 0.0063 337.02);
  --base-100: oklch(0.9725 0.0126 336.87);
  --base-200: oklch(0.9243 0.0252 336.86);
  --base-300: oklch(0.8726 0.0378 336.85);
  --base-400: oklch(0.7087 0.0454 336.78);
  --base-500: oklch(0.5557 0.0491 336.74);
  --base-600: oklch(0.4405 0.0479 336.69);
  --base-700: oklch(0.371 0.0441 336.69);
  --base-800: oklch(0.2707 0.0378 336.77);
  --base-900: oklch(0.1929 0.0252 336.72);
  --base-950: oklch(0.1438 0.0189 336.7);
  --base-1000: oklch(0.103 0.0126 336.69);

  --primary-50: oklch(0.9739 0.0112 335.03);
  --primary-100: oklch(0.9501 0.0231 334);
  --primary-200: oklch(0.9009 0.049 334.9);
  --primary-300: oklch(0.8269 0.0952 337.34);
  --primary-400: oklch(0.726 0.1587 339.37);
  --primary-500: oklch(0.66 0.1922 340.37);
  --primary-600: oklch(0.5787 0.1955 343.4);
  --primary-700: oklch(0.5226 0.1727 345.31);
  --primary-800: oklch(0.4566 0.1445 346.09);
  --primary-900: oklch(0.4057 0.1175 346.85);
  --primary-950: oklch(0.2874 0.0876 347.82);
  --primary-1000: oklch(0.2103 0.068 348.45);

  --secondary-50: oklch(0.9755 0.0049 330.01);
  --secondary-100: oklch(0.9512 0.0104 328.92);
  --secondary-200: oklch(0.902 0.0219 329.77);
  --secondary-300: oklch(0.8292 0.0422 332);
  --secondary-400: oklch(0.7308 0.07 333.6);
  --secondary-500: oklch(0.6624 0.0855 334.26);
  --secondary-600: oklch(0.5748 0.0862 336.52);
  --secondary-700: oklch(0.5211 0.0755 338.14);
  --secondary-800: oklch(0.4552 0.0631 338.88);
  --secondary-900: oklch(0.4042 0.0512 339.72);
  --secondary-950: oklch(0.2893 0.0391 340.38);
  --secondary-1000: oklch(0.2146 0.0313 340.82);

  --background: var(--color-white);
  --foreground: var(--base-800);
  --card: var(--color-white);
  --card-foreground: var(--base-800);
  --popover: var(--color-white);
  --popover-foreground: var(--base-800);
  --primary: var(--primary-600);
  --primary-foreground: var(--color-white);
  --secondary: var(--secondary-600);
  --secondary-foreground: var(--color-white);
  --muted: var(--base-50);
  --muted-foreground: var(--base-600);
  --accent: var(--base-50);
  --accent-foreground: var(--base-800);
  --destructive: oklch(0.577 0.245 27.325);
  --border: var(--base-200);
  --input: var(--base-300);
  --ring: var(--primary-600);
  --chart-1: var(--primary-600);
  --chart-2: var(--secondary-600);
  --chart-3: var(--primary-300);
  --chart-4: var(--secondary-300);
  --chart-5: var(--primary-100);
  --radius: 0.5rem;
  --sidebar: var(--base-100);
  --sidebar-foreground: var(--base-800);
  --sidebar-primary: var(--primary-600);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--base-200);
  --sidebar-accent-foreground: var(--base-800);
  --sidebar-border: var(--base-200);
  --sidebar-ring: var(--primary-600);

  --font-sans: Montserrat, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Esteban, ui-serif, serif;
  --font-mono: "Fira Code", "Courier New", monospace;
}

.dark {
  --background: var(--base-950);
  --foreground: var(--base-200);
  --card: var(--base-950);
  --card-foreground: var(--base-200);
  --popover: var(--base-950);
  --popover-foreground: var(--base-200);
  --primary: var(--primary-600);
  --primary-foreground: var(--color-white);
  --secondary: var(--secondary-600);
  --secondary-foreground: var(--color-white);
  --muted: var(--base-900);
  --muted-foreground: var(--base-400);
  --accent: var(--base-900);
  --accent-foreground: var(--base-200);
  --destructive: oklch(0.704 0.191 22.216);
  --border: var(--base-800);
  --input: var(--base-700);
  --ring: var(--primary-600);
  --chart-1: var(--primary-600);
  --chart-2: var(--secondary-600);
  --chart-3: var(--primary-300);
  --chart-4: var(--secondary-300);
  --chart-5: var(--primary-100);
  --sidebar: var(--base-900);
  --sidebar-foreground: var(--base-200);
  --sidebar-primary: var(--primary-600);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--base-800);
  --sidebar-accent-foreground: var(--base-200);
  --sidebar-border: var(--base-800);
  --sidebar-ring: var(--primary-600);

  --font-sans: Montserrat, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Esteban, ui-serif, serif;
  --font-mono: "Fira Code", "Courier New", monospace;
}

@theme inline {
  --color-base-50: var(--base-50);
  --color-base-100: var(--base-100);
  --color-base-200: var(--base-200);
  --color-base-300: var(--base-300);
  --color-base-400: var(--base-400);
  --color-base-500: var(--base-500);
  --color-base-600: var(--base-600);
  --color-base-700: var(--base-700);
  --color-base-800: var(--base-800);
  --color-base-900: var(--base-900);
  --color-base-950: var(--base-950);
  --color-base-1000: var(--base-1000);

  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);
  --color-primary-1000: var(--primary-1000);

  --color-secondary-50: var(--secondary-50);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-600: var(--secondary-600);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-800: var(--secondary-800);
  --color-secondary-900: var(--secondary-900);
  --color-secondary-950: var(--secondary-950);
  --color-secondary-1000: var(--secondary-1000);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50 font-sans;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes onAutoFillStart {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
    /* biome-ignore lint/suspicious/noImportantInKeyframe: <> */
    /* biome-ignore lint/complexity/noImportantStyles: <> */
    background-image: linear-gradient(transparent, transparent) !important;
  }
}

input:-webkit-autofill {
  animation-name: onAutoFillStart;
  animation-duration: 0.001s;
}

/* biome-ignore lint/correctness/noUnknownPseudoClass: <For Firefox> */
input:-internal-autofill-selected {
  animation-name: onAutoFillStart;
  animation-duration: 0.001s;
}
